<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "FOODAPP" , restaurants_url,{ :class => "navbar-brand"} %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
    <%= link_to "Show orders" ,orders_url,{:class => "nav-link"} %>
        <span class="sr-only">(current)</span>
    </li>
    <li class="nav-item">
    <%= link_to "Edit" , edit_user_registration_path,{:class => "nav-link"} %>
        <span class="sr-only">(current)</span>
    </li>
    <li class="nav-item">
    <div class="nav-link">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
    </li>
</ul>

  </div>
</nav>
