<%= form_with(model: owners_restaurant, local: true) do |form| %>
  <% if owners_restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(owners_restaurant.errors.count, "error") %> prohibited this owners_restaurant from being saved:</h2>

      <ul>
      <% owners_restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
