<%= render partial: "layouts/nav_bar" %>
<table class="table">
    <tr>
      <td>
        <%= link_to 'Add Restaurant', new_owners_restaurant_path,class: 'btn btn-primary btn-lg' %>
      </td>
    </tr>
  </table>