<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your order history on FoodApp has been mailed to you.<br>
    </p>
    <p>Thank you! Have a great day!</p>

    <%= attachments['order_history.xls'].url %>
  </body>
</html>