<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your order on FoodApp has been confirmed.<br>
    </p>
    <p>Thank you! Have a great day!</p>
  </body>
</html>