/* Add a black background color to the top navigation */

.form {
    padding: 35px 50px;
}
.initial_form {
    padding: 35px 500px;
}
.button {
    background-color: #66CDAA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.table{
    padding: 25px 25px;
}
.table tr{
    padding: 14px 14px;
}
.table th{
    padding: 20px 20px;
}
.table td{
    padding: 20px 20px;
}